<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-dark text-white">
    <a class="text-white navbar-brand" href="/">
        <i class="fas fa-cogs"></i> Repuestos la bayadera
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a href="/" class="nav-link">Tienda</a>
            </li>
        </ul>
        <form action="form-inline mt-2 mt-md-0">
            <a href="/users/signin" class="text-white nav-link"><i class="far fa-user">Login</i></a>
             <a href="/users/signup" class="text-white nav-link"><i class="far fa-user">Crear cuenta</i></a>
            <a href="#" class="text-white nav-link">
                <i id="cart_n"class="text-warning fas fa-shopping-cart">

                </i>Carrito de Compras
            </a>
            <a href="/admin" class="nav-link disable text-white">
                <i class="far fa-user"></i>Administrador
            </a>
        </form>

    </div>
</nav>
</header>
<br>
<br>
<br>
<br>
<br>

<div class="container mt-5">
    <main role="main">
        <div class="row">
            <div class="col">
                <div class="table-responsive-sm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody id="table"> 
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>


<script src="/js/cart.js"></script>