<header>
    <nav class="navbar fixed-top navbar-dark navbar-expand-md bg-dark text-white">
    <a class="text-white navbar-brand" href="/">
        <i class="fas fa-cogs"></i>Repuestos la bayadera
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a href="#" class="nav-link">Tienda</a>
            </li>
          
        </ul>
        <form action="form-inline mt-2 mt-md-0">
            <a href="/users/signin" class="text-white nav-link"><i class="far fa-user">Login</i></a>
             <a href="/users/signup" class="text-white nav-link"><i class="far fa-user">Crear cuenta</i></a>
            <a href="/cart" class="text-white nav-link">
                <i class="text-warning fas fa-shopping-cart">

                </i>Carrito de Compras <i style="color:yellow" id="cart_n"></i>
            </a>
            
        </form>

    </div>
</nav>
</header>
    <br>
    <br>
    <div class="container marketing">
        <br>
        <br>
        <h2 id="tienda">Tienda</h2>
        <hr>
        <div class="row" id="productosDIV"></div>
    </div>


<script src="/js/main.js"></script>
